.loginModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}
.modal-header {
  font-size: large;
}
.modal-text {
  margin: 10px;
  padding-top: 7px;
}
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.sns-button {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  text-align: center;
}
.sns-button li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.sns-button button {
  color: white;
  width: 200px;
  height: 30px;
  margin: 3px;
  font-size: 15px;
  border-radius: 12px;
  border: 0px;
}
.login-naver {
  background-color: #2db300;
}
.login-naver:hover {
  background-color: #95dd7e;
}
.login-kakao {
  background-color: #ffe812;
}
.login-kakao:hover {
  background-color: #f1e577;
}
.login-facebook {
  background-color: #1778f2;
}
.login-facebook:hover {
  background-color: #88bbfa;
}
.login-google {
  background-color: #4285f4;
}
.login-google:hover {
  background-color: #8db7fc;
}
.login-twitter {
  background-color: #1da1f2;
}
.login-twitter:hover {
  background-color: #7fccfc;
}
.main-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 30px 130px 3fr 30px;
}
.main-text {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  text-align: center;
  padding: 10px;
  width: 90%;
}
.left {
  grid-column: 1;
  grid-row: 3;
}
.right {
  grid-column: 3;
  grid-row: 3;
}
.comment-container {
  grid-column: 2;
  grid-row: 3;
}
.comment {
  padding: 8px;
  border: 1px solid lightslategray;
  border-radius: 12px;
}
.comment-text {
  margin: 8px;
}
.com-new {
  grid-column: 2;
  grid-row: 4;
}
.com-write {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 99%;
  height: 90%;
}
.com-new button {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid rgb(221, 223, 226);
}
.up {
  border-radius: 14px;
  background-color: white;
  border: 1px solid rgb(221, 223, 226);
  padding: 3px;
  font-size: 10px;
}
.up:hover {
  background-color: rgb(221, 223, 226);
}
.down {
  border-radius: 14px;
  background-color: white;
  border: 1px solid rgb(221, 223, 226);
  padding: 3px;
  font-size: 10px;
}
.down:hover {
  background-color: rgb(221, 223, 226);
}
.com-mod {
  margin-left: 5px;
}
